/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;    
}
main {
    padding-top: 100px;  
}
.flex {
    display: flex;
}
.container {    
    width: 70%;
    margin: 0 auto ;
    display: flex;
}
ul {
    list-style-type: none;
    gap: 10px;
}
a {
    text-decoration: none;
    font-size: 13px;
    color: white;
}
.pointer {
    cursor: pointer;
}
i {
    cursor: pointer;
}

/* Header */
.header {
    background-color: #FF6900;
    height: 50px;
    width: 100%;
    position: fixed;    
    z-index: 2;
    color: white;
    box-shadow: 0 0 5px black;
}
/* Nav Bar */

header .nav-bar {
    align-items: center;
    height: 50px;
    width: 100%;     
}
header .filter {
    width: 25%;
}
.logo {
    justify-content: center;
    width: 50%;
}
.logo-img {
    height: 20px;
}
header .icons {
    width: 25%;
    justify-content: flex-end;
    gap: 10px;
    font-size: 13px;    
}

/* Card */
.card {
    /* background-color: blue; */
    /* border: 1px dashed;  */
    min-height: 200px; 
    width: calc(100% /3); 
    margin-bottom: 80px;
    position: relative;
    cursor: pointer;
}

.column {
    gap: 15px;
}
img {
    display: block;
    max-width: 100%;
}

/* label Card */
.label {
    position: absolute;
    left: 0;
    bottom: 25px;
    z-index: 1;
}
.discount {
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 5px;
    display: inline-block;
}
.sostenibilità {
    background-color: green;
    color: white;
    padding: 5px 5px;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
}
.like {
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
}

/* Info Card */
.info-card {
    position: absolute;
    font-size: 11px;
    
}
.price {
    color: red;
}
.deleted {
    text-decoration: line-through;
    color: black;
}

/* Footer */
.footer {
    background-color: #1a1a1a;
    height: 80px;
    width: 100%;
    color: white;
}
.nav-footer {
    height: 80px;
    align-items: center;
}
.agency {
    width: 50%; 
}
.icons {
    width: 50%;
}    
.nav-right-icons {
    justify-content: flex-end;
}
footer a {
    font-size: 10px;
}
.fa-brands {
    margin: 5px 1px;
}

/* Hover */
.img-hover {
    position: absolute;
    display: none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card:hover .img-hover {
    display: block;
} 
.like:hover {
    color: red;
}